<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

</head>
<body>
<!-- wrap -->
<div id="wrap">

<header id="header">

    <div class="header_area box_inner clear">
        <h1><a href="Javascript:;">홈페이지</a></h1>

        <div class="navbar-text me-5" sec:authorize="isAuthenticated()">
            <span th:text=" ${#authentication.principal.name} + '님 환영합니다.'"></span>
        </div>

        <!-- header_cont -->
        <div class="header_cont">
            <ul class="util clear">
                <li sec:authorize="isAnonymous()"><a href="/login">로그인</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/logout">로그아웃</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/edit">회원정보수정/탈퇴</a></li>
                <li  sec:authorize="isAnonymous()"><a href="/signup">회원가입</a></li>
            </ul>
            <nav>
                <ul class="gnb clear">
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/frontlive" class="openAll1">front 라이브 송출 확인</a>
                        <div class="gnb_depth gnb_depth2_1"></div>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/backlive" class="openAll1">back 라이브 송출 확인</a>
                        <div class="gnb_depth gnb_depth2_1"></div>
                    </li>
                    <li><a href="/hyuk_index" class="openAll2">CH</a> <!--최혁-->
                        <div class="gnb_depth gnb_depth2_2"></div>
                    </li>
                    <li><a href="KWJ" class="openAll3">KWJ</a> <!--김원준-->
                        <div class="gnb_depth gnb_depth2_3"></div>
                    </li>
                    <li><a href="/" class="openAll4">PGW</a> <!--표관우-->
                        <div class="gnb_depth gnb_depth2_4"></div>
                    </li>
                </ul>
            </nav>

            </div>
            <!-- //header_cont -->
        </div>
    </header>

</div>




</body>
</html>